@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
/* Add this to your CSS file */
.typing-animation {
    border-right: .15em solid orange;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  
  :root {
    --font-heading: 'YourHeadingFontFamily', sans-serif;
    --font-body: 'YourBodyFontFamily', sans-serif;
  }
  
  .heading {
    font-family: var(--font-heading), sans-serif;
  }
  
  .body {
    font-family: var(--font-body), sans-serif;
  }
  

/* Hide scrollbar but allow scrolling for Webkit browsers */
.element {
  overflow: auto;
}

.element::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
